@font-face {
  font-family: 'symbols-sedona';
  src: url('../font/symbols-sedona.eot?60737633');
  src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
       url('../font/symbols-sedona.woff?60737633') format('woff'),
       url('../font/symbols-sedona.ttf?60737633') format('truetype'),
       url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\f39e'; } /* '' */

body{
  font-family: 'PT Sans',Arial,sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000;
  font-weight: Bold;
  min-width: 960px;
  text-transform: uppercase;
}
h1{
  font-family: 'PT Sans',Arial,sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: Bold;
}
h2{
  font-family: 'PT Sans',Arial,sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: Bold;
}
.clearfix:after, .reason-row:after{
  content: '';
  display: table;
  clear: both;
}
.wrapper{
  min-width: 768px;
  max-width: 1200px;
  margin: 0px auto;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);

}
.main-header{
  position: relative;
}
.main-navigation ul{
  margin: 0;
  padding: 0;
  line-style: none;
  font-size: 0px;
}
.logo{
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 20;
  transform:translateX(-50%);
}
.logo a{
  display: block;
}
.main-navigation li{
  padding: 15px 0;
  font-size: 14px;
  line-height: 26px;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  text-align: center;
}
.main-navigation a{
  text-decoration: none;
  color: #000;
}
.main-navigation a:hover{
  color: #81b3d2;
}
.offset{
  margin-right: 20%;
}
.main-navigation a.active{
  color: #766357;
}
.main-navigation a .active:hover{
  color: #604e43;
}
.promo-block{
  position: relative;
  height: 512px;
  width: 100%;
  padding: 62px 0px 0px;
  background-image: url("../img/background-index-photo.jpg");
}
.promo-block img{
  display: block;
  width: 458px;
  margin: 0 auto;
}
.promo-block:after{
  width: 100%;
  height: 56px;
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  background-image: url("../img/background-index-shape.png");
  background-size: 100% 56px;
}
.reasons-header{
  width: 500px;
  margin: 60px auto;
  text-align: center;
}
.reason{
  width: 33.333333%;
  padding: 60px 6%;
  box-sizing: border-box;
  float: left;
  color: #fff;
}
.reason h2{
  margin: 0;
}
.reason-row-image{
  height: 256px;
  background-color: #81b3d2;
  overflow: hidden;
}
.reason-picture{
  height: 256px;
  width: 66.666666%;
  float: left;
  overflow: hidden;
}
.reason-picture img{
  display: block;
}
.reason-image{
  padding-top: 120px;
  position: relative;
  color: #000;
  background-image: url(../img/sprite.png);
  background-repeat: nso-repeat;
  display: block;
  background: none;
}
.reason-title{
  text-align: center;
  border: 1px solid black;
}
.reason-image .reason-title
{
  margin-top: 40px;
  margin-bottom: 30px;
}
.reason-number{
  margin: 30px 0;
  text-align: center;
  border: 1px solid black;
}
.reason p{
  margin: 0;
  text-align: center;
  border: 1px solid black;
}
.reason-home:before{
  content: "";
  display: block;
  position: absolute;
  border: 1px solid black;
  background-image: url(../img/sprite.png);
  background-repeat: nso-repeat;
  display: block;
  width: 75px;
  height: 72px;
  background-position: -128px -5px;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 72px;
}
.reason-food:before{
  content: "";
  display: block;
  position: absolute;
  border: 1px solid black;
  background-image: url(../img/sprite.png);
  background-repeat: nso-repeat;
  display: block;
  width: 74px;
  height: 70px;
  background-position: -5px -54px;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}
.reason-souvenirs:before{
  content: "";
  display: block;
  position: absolute;
  border: 1px solid black;
  background-image: url(../img/sprite.png);
  background-repeat: nso-repeat;
  display: block;
  width: 64px;
  height: 76px;
  background-position: -89px -87px;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  height: 76px;
}
.reason-picture-inver{
  height: 256px;
  width: 66.666666%;
  float: left;
  margin: auto;
  overflow: hidden;
}
.reason-row-grey div{
  background-color: #eeeeee;
  color: #000;
}
.search{
  border: 1px solid black;
  height: 290px;
  text-align: center;
}
.search-title{
  border: 1px solid black;
  margin: 58px auto 37px auto;
  text-align: center;
}
.search-button{
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px 0;
  /*box-sizing: border-box;*/
  width: 568px;
  background-color: #766357;
  margin: 50px auto 0px auto;
}
.search h2{
  font-size: 30px;
  line-height: 24px;
  width: 300px;
}
.search p{
  margin: 0 auto;
  width: 440px;
  border: 1px solid black;
}
.map{
  height: 700px;
  position: relative;
}
.map-canvas{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/map.jpg");
  z-index: 10;
}
/*начало формы поиска отеля*/
.search-form{
  border: 1px solid black;
  height: 395px;
  width: 568px;
  background-color: #ffffff;
  margin: 0px auto;
  padding: 55px;
  box-sizing: border-box;
  bottom: 200;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 20;
}
.form-search-hotels {
  position: absolute;
  bottom: 200;
  left: 50%;
  transform: translateX(-50%);
  padding: 55px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 7px 15px 0 rgba(0,0,0,.15);
  font-weight: 700;
  z-index: 20;
}
.form-search-hotels fieldset {
  margin: 0 0 30px;
  position: relative;
  border: none;
}
.form-search-hotels input,
.form-search-hotels label {
  display: block;  
  float: left;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.form-search-hotels label {
  width: 113px;
  height: 38px;
}
.form-search-hotels input {
  height: 34px;
  background: #f2f2f2;
  border: 2px solid #f2f2f2;
  line-height: 34px;
}
.form-search-hotels input:hover {
  background: #ebebeb;
  border-color: #ebebeb;
}
.form-search-hotels [type="text"]:focus {
  background: none;
  border-color: #e5e5e5;
}
.form-date input {
  width: 296px;
  padding: 0 30px 0 15px;
}
.icon-calendar:after {
  content: "";
  position: absolute;
  display: block;
  font-size: 21px;
  line-height: 26px;
  position: absolute;
  right: 10px;
  top: 50%;
  cursor: pointer;
}
.adult input,
.children input {
  width: 34px;
  padding: 0;
  text-align: center;
}
.children label {
    width: 65px;
    margin: 0 0 0 52px;
}
.form-search-hotels .adult,
.form-search-hotels .children {
    float: left;
    box-sizing: border-box;
    width: 50%;
    margin: 0;
}
.form-search-hotels .children {
  width: 231px;
}
.form-search-hotels [type="button"] {
  width: 38px;
  height: 38px;
  font-size: 26px;
  color: #000;
  color: rgba(0,0,0,.2);
  cursor: pointer;
}
.form-search-hotels [type="button"]:hover {
  color: #000;
}
.form-search-hotels [type="button"]:active {
  color: #81b3d2;
}
.form-search-hotels .adult-children {
  margin: 0 0 54px;
}
.form-search-hotels [type="submit"] {
  display: block;
  width: 100%;
  height: 58px;
  float: none;
  background: #81b3d2;
  color: #fff;
  font-size: 21px;
  line-height: 58px;
  cursor: pointer;
}
.form-search-hotels [type="submit"]:hover,
.btn-social:hover {
  background: #669ec0;
}
.form-search-hotels [type="submit"]:active,
.btn-social:active {
  background: #5496bd;
  color: #fff;
  color: rgba(255,255,255,.3);
}
/*конец формы поиска отеля*/
.main-footer{
  font-size: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  padding: 36px 30px;
  box-sizing: border-box;
}
.main-footer a{
  text-decoration: none;
}
.map-main-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
}
.hashtag{
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  width: 33.333333%;
  display: inline-block;
  vertical-align: middle;
}
.social{
  font-size: 0px;
  text-align: center;
  width: 33.333333%;
  display: inline-block;
  vertical-align: middle;
}
.copyright{
  font-size: 14px;
  line-height: 26px;
  width: 33.333333%;
  display: inline-block;
  vertical-align: middle;
}
.copyright-logo{
  background-image: url(../img/sprite.png);
  background-repeat: nso-repeat;
  width: 113px;
  height: 39px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  background-position: -5px -5px;
}
.social-btn{
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 46px;
  padding: 11px 10px;
  box-sizing: border-box;
  background-color: #81b3d2;
}
.icon-twitter{
  text-align: center;
  font-size: 19px;
  line-height: 20px;
  color: #fff;
}
.icon-facebook{
  text-align: center;
  font-size: 19px;
  line-height: 20px;
  color: #fff;
}
.icon-youtube{
  text-align: center;
  font-size: 19px;
  line-height: 20px;
  color: #fff;
}
.social-btn-fb{
  margin: 0 6px;
}

.catalog{
  background-image: url(../img/background-catalog.jpg);
  width: 100%;
  padding: 30px 3%;
  box-sizing: border-box;
}
.catalog-filter{
  float: left;
  margin-right: 9%;
  height: 217px;
}
/*Начала range фильтра */
.catalog-range-filter {
    float: right;
    width: 31.2%;
}
.price-controls {
    width: 100%;
    height: 50px;
    margin: 12px 0px 0px;
    border: 2px solid #FFF;
    border-radius: 2px;
    box-sizing: border-box;
    position: relative;
    font-size: 0px;
    line-height: 46px;
}
.price-controls-center {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    text-align: center;
}
.price-controls-center input {
    width: 50px;
    background: none;
    font-size: 14px;
    color: #FFF;
    text-align: center;
}

.price-controls:after {
    height: 26px;
    width: 2px;
    margin: -13px 0px 0px -1px;
    top: 50%;
    left: 50%;
}
.range-controls {
    margin: 44px 0px 0px;
    padding: 0px 2px;
    position: relative;
}
.scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.toggle {
    width: 4px;
    height: 4px;
    margin: -9px 0px 0px;
    background: #ABABAB none repeat scroll 0% 0%;
    border: 8px solid #FFF;
    border-radius: 50%;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.14);
    position: absolute;
    top: 0px;
    cursor: pointer;
}
.toggle-min {
    left: 0px;
}
.toggle-max {
    left: 83%;
}
/*Конец range фильтра*/
.search-number{
  border: 1px solid black;
  float: left;
  margin-right: 30px;
  font-size: 21px;
  line-height: 26px;
}
.sort-type{
  border: 1px solid black;
  float: left;
}
.sort-type a{
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}
.sort-type-title{
  margin-right: 35px;
}
.sort-direction{
  border: 1px solid black;
  float: right;
}
.catalog-item{
  border-bottom: 1px solid #E5E5E5;
  padding: 30px 6%;
}
.catalog-item-photo{
  width: 150px;
  float: left;
}
.catalog-item-description{
  float: left;
}
.catalog-item-title{

}
.catalog-item-housing{
  float: left;
}
.catalog-item-price{
  float: left;
}
.catalog-item-stars-rating{
  float: right;
}
